<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You've signed up</title>
</head>
<body>
    <h1>Community member</h1>
    <br>
    <h4>${name}</h4>
    <p>We are always updating our free services and will let you know when, new services are available</p>
    <p>We will email as soon as new services become available to your email @: ${email}</p>
    <br>
    <br>
    <br>
    
    <div class="background-whitesmoke text-align-center flex-col items-center gap-2">
    <a href="www.masterconncet.ca">master connect</a>
    <p>email: masterultils@gmail.com</p>
        <img src="https://new-master.s3.ca-central-1.amazonaws.com/static/masterultils/logo.png" alt="www.masterconnect.ca"
        />
    </div>
</body>
</html>